.aboutSection{
    /* display:flex !important;
    justify-content:center !important;
    align-items: center  !important; */
    width:100%;
    border: 20px solid #E29578;
    background-color: #FFCDA8;
}